/* initi the basic layout structure for a page :  html, body, p, h3 */

html{
	margin: 0;
	padding: 0;
}
body{
	font: 75% arial, sans-serif;
	color: #555753;
	background: #ccc
	url(./images/carlton-gardens-royal-exhibition-garden-melbourne-1.jpg)  no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: top;
	margin: 0;
	padding: 0;

}
.page-wrapper{
	padding: 0 175px 0 50px;
	margin: 0;
	position: relative;

}
/*  this is next step to do some make up for the page to look nice and feel */

a:link{
	text-decoration: none;
	color: #A52A2A;
	font-weight: bolder;
}
a:visited{
	text-decoration: none;
	color: #00FF7F;
	font-weight: lighter;

}
a:hover, a:focus, a:active{
	text-decoration: none;
	color: #7CFC00;
}
abbr{
	border-bottom: none;
}
p{
	margin-top: 0;
	text-align: justify;
}
header h1{
	margin-top: 10px;
	/*display: block;*/
	width: 200px;
	height: 85px;
	color: #ccc;
	/*float: left;*/

	display: inline-block;
	white-space: nowrap;

}
header h2{
	color: #ccc;
	margin-top: 20px;
	margin-bottom: 42px;
	width: 200px;
	height: 20px;


}
header{
    padding-top: 20px;
    height: 90px;
}
.intro {
	min-width: 200px;
	width: 100%;
}
.summary{
	clear:both;
	/*float:right;*/
	width: 100%;
    /*margin-top: -20px;
	margin: 25px 25px 25px 15px;*/
	color: #FFD700;
	background-image: url('./images/wisteria-archway-alowyn-gardens-melbourne-gardens-.jpg');
   background-repeat: no-repeat;
   /*background-attachment:fixed;*/
   background-position: 250px 10px;
   background-size:cover;
   float:none;
}
.summary p{
	text-align: justify;
	font: italic arial 20px;
}
.preamble{
	clear: both;
	width: 100%;
	margin: 10px 0px 10px 0px;
	padding: 10px 10px 10px 10px;
	background-image: url('./images/melbournegardenshow.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	/*background-attachment: scroll;*/
	color:#808000;
	text-align: justify;
	font: italic arial 30px;

}
.explanation{
	clear: both;
	width: 100%;
	margin: 10px 0px 10px 0px;
	padding: 10px 10px 10px 10px;
	background-image: url('./images/wisteria-archway-alowyn-gardens-melbourne-gardens-.jpg');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: 100%;
	color: #C0C0C0;
	text-align: justify;
	font: italic arial 30px;

}
.participation{
	clear: both;
	width: 100%;
	margin: 10px 0px 10px 0px;
	padding: 10px 10px 10px 10px;
	color: #ccc;
	background-image: url('./images/gardenview.jpeg');
	background-repeat: no-repeat;;
	background-attachment:fixed;
	background-size: 100%;
	text-align: justify;
}
.benefits{
	clear: both;
	width: 100%;
	margin: 10px 0px 10px 0px;
	padding: 10px 10px 10px 10px;
	color: #ccc;
	background-image: url('./images/melflowerscott1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	text-align: justify;
}
.requirements{
	clear: both;
	width: 100%;
	margin: 10px 0px 10px 0px;
	padding: 10px 10px 10px 10px;
	color: #ccc;
	background-image: url('./images/melflowerscott1.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	text-align: justify;
}
footer{
	text-align: center;
}
footer a:link, a:visited{
	margin-right: 20px;
}
/*
h1{
	margin-top: 0;
}
h2{
	margin-top: 0;
}
h3{
	margin-top: 0;
}*/
